// colors

$color-1: #E5E5E5; // Mercury*
$color-2: #315659; // Spectra
$color-3: #BCAB79; // Gimblet
$color-4: #14213D; // Big Stone*
$color-5: #FFFFFF; // White

// fonts 

$primary-font: 'big_johnregular';
$secondary-font: 'slim_joeregular', serif;

$text-font: 'Raleway', sans-serif;

//number of projects

$items: 3;